@model Caritas_Egypt_Backend.Models.Service

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>إنشاء</h1>

<h4>الخدمات</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainerInsentive" class="control-label"></label>
                <input asp-for="TrainerInsentive" class="form-control" />
                <span asp-validation-for="TrainerInsentive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NightTrainerInsentive" class="control-label"></label>
                <input asp-for="NightTrainerInsentive" class="form-control" />
                <span asp-validation-for="NightTrainerInsentive" class="text-danger"></span>
            </div>
    
               <div class="form-group row">
                <label asp-for="ServiceTypeId" class="col-form-label"></label>
                <select asp-for="ServiceTypeId" class ="form-control" asp-items="ViewBag.ServiceTypeId"></select>
            </div>
              <div class="form-group row">
                <label asp-for="languageId" class="col-form-label"></label>
                <select asp-for="languageId" class ="form-control" asp-items="ViewBag.languageId"></select>
            </div>
               <div class="form-group row">
                <label asp-for="SessionTimeId" class="col-form-label"></label>
                <select asp-for="SessionTimeId" class ="form-control" asp-items="ViewBag.SessionTimeId"></select>
            </div>
              
            <div class="form-group">
                <input type="submit" value="إنشاء" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">عودة إلي القائمة السابقة</a>
</div>
