@model IEnumerable<Caritas_Egypt_Backend.Models.TypeOfDisability>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--begin::Row-->
								<div class="row">
									<div class="col-lg-12 col-xxl-12">
										<!--begin::Advance Table Widget 9-->
										<div class="card card-custom card-stretch gutter-b">
											<!--begin::Header-->
											<div class="card-header border-0 py-5">
												<h3 class="card-title align-items-start flex-column">
													<span class="card-label font-weight-bolder text-dark">Type Of Disability</span>
													<span class="text-muted mt-3 font-weight-bold font-size-sm"></span>
												</h3>
												<div class="card-toolbar" style="gap: 8px">
													<form method="post" asp-action="Index" style="display:flex; gap:8px;">
						<input type="text" name="name" value="" />
						<input type="submit" value="Search" class="btn btn-info font-weight-bolder font-size-sm w-100" />
													 </form>

													    <a class="btn btn-info font-weight-bolder font-size-sm mr-3" asp-action="Create">Create</a>

													
													@*<a href="#" class="btn btn-danger font-weight-bolder font-size-sm">Create</a>*@
												</div>
											</div>
											<!--end::Header-->
											<!--begin::Body-->
											<div class="card-body pt-0 pb-3">
												<div class="tab-content">
													<!--begin::Table-->
													<div class="table-responsive">
														<table class="table table-head-custom table-vertical-center table-head-bg table-borderless">
															<thead>
																<tr class="text-left">
																	<th style="min-width: 250px" class="pl-7">
																		<span class="text-dark-75">الاسم </span>
																	</th>																	
                                                                   <th> </th>
																</tr>
															</thead>
	                                                       	<tbody>
                                                                    @foreach (var item in Model) {
                                                                       <tr>
                                                                         <td class="pl-0 py-0">
		                                                             	  <span class="text-dark-75 font-weight-bolder d-block font-size-lg">@Html.DisplayFor(modelItem => item.Name)</span>
                                                                         </td>
    
                                                                         <td class="flex flex-col pl-0 py-2">
                                                                             <a class="btn btn-info font-weight-bolder font-size-sm w-100" href="/TypeOfDisabilities/Edit?id=@item.Id">Edit</a>
				                                                      <a class="btn btn-info font-weight-bolder font-size-sm w-100 mt-2" href="/TypeOfDisabilities/Details?id=@item.Id">Details</a>
				                                                      <a class="btn btn-danger font-weight-bolder font-size-sm w-100 mt-2" href="/TypeOfDisabilities/Delete?id=@item.Id">Delete</a> 
                                                                         </td>
                                                                       </tr>
                                                                      }
                                                            </tbody>
														</table>
													</div>
													<!--end::Table-->
												</div>
											</div>
											<!--end::Body-->
										</div>
										<!--end::Advance Table Widget 9-->
									</div>
								</div>
								<!--end::Row-->