@{
    ViewData["Title"] = "Reports";
}
								<div class="card card-custom">
									<div class="card-header flex-wrap border-0 pt-6 pb-0">
										<div class="card-title">
										</div>
									</div>
									<div class="card-body">
										
										<!--begin: Search Form-->
										<!--begin: Datatable-->
	
			<a href="/Reports/ServicesReport" class="btn btn-primary btn-lg btn-block">Service Reports</a>
			<a href="/Reports/DisabilitiesReport" class="btn btn-primary btn-lg btn-block">Disabilities Reports</a>

	 </div>
	</div>
